altgraph==0.17.4
cffi==1.17.1
charset-normalizer==3.4.3
colored==2.3.1
cryptography==45.0.6
et_xmlfile==2.0.0
Gooey==1.0.8.1
macholib==1.16.3
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.1
pdfminer.six==20250506
pdfplumber==0.11.7
pillow==11.3.0
psutil==7.0.0
pycparser==2.22
pygtrie==2.5.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyPDF2==3.0.1
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
wheel==0.45.1
wxPython==4.2.3
xlsxwriter==3.2.5
